<div *ngIf="(book$ | async) as selectedBook; else busyIndicator" class="container">
  <div class="card">
    <div class="card-body">
      <h2 *ngIf="selectedBook?.title" class="card-title">
        {{ selectedBook.title }}
      </h2>
      <div><b>SubTitle:</b> {{ selectedBook.subtitle || "---" }}</div>
      <div>
        <b>Orginal Published Yead:</b>
        {{ selectedBook.originallyPublishedYear }}
      </div>
      <div><b>Series Title:</b> {{ selectedBook.seriesTitle }}</div>
      <div><b>Page Count:</b> {{ selectedBook.pageCount }}</div>
      <div><b>Description:</b> {{ selectedBook.description }}</div>
      <div><b>Author:</b> {{ selectedBook.authorFullName }}</div>
    </div>
  </div>
  <button mat-flat-button color="primary" (click)="editBook(selectedBook)">
    Edit
  </button>
</div>

<ng-template #busyIndicator>
  <p>Please wait, loading data...</p>
</ng-template>
