<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title center">Add new book</h2>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6 text-right">
            <div style="height: 40px;">Title: </div>
            <div style="height: 40px;">Subtitle</div>
            <div style="height: 40px;">Published year: </div>
            <div style="height: 40px;">Series title: </div>
            <div style="height: 40px;">Page count: </div>
            <div style="height: 40px;">Description: </div>
            <div style="height: 40px;">Price: </div>
            <div style="height: 40px;">PublishDate: </div>
          </div>
          <div class="col-6">
            <div style="height: 40px;"><input type="text" formControlName="title"/></div>
            <div style="height: 40px;"><input type="text" formControlName="subtitle"/>   </div>
            <div style="height: 40px;"><input type="text" formControlName="originallyPublishedYear"/></div>
            <div style="height: 40px;"><input type="text" formControlName="seriesTitle"/></div>
            <div style="height: 40px;"><input type="text" formControlName="pageCount"/></div>
            <div style="height: 40px;"><input type="text" formControlName="description"/></div>
            <div style="height: 40px;"><input type="text" formControlName="price"/></div>
            <div style="height: 40px;"><input type="date" formControlName="publishDate"/></div>
          </div>
        </div>
        <div class="row text-center">
          <button type="submit" class="btn btn-success center" [disabled]="bookForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>



