<app-navigation
  [view]="routeValue"
  (viewSelected)="selectRoute($event)"
></app-navigation>

<div [ngSwitch]="routeValue">
  <app-bookslist
    (selectedBook)="selectBook($event)"
    *ngSwitchCase="view.BookList"
  >
  </app-bookslist>
  <app-book-details
    [selectedBook]="selectedBook"
    (selectedBookForEdit)="editBook($event)"
    *ngSwitchCase="view.BookDetails"
  >
  </app-book-details>
  <app-edit-book [selectedBook]="selectedBook" *ngSwitchCase="view.AddBook">
  </app-edit-book>
  <!-- <app-shopping-cart *ngSwitchCase="view.BookDetails">...</app-shopping-cart> -->
</div>
