@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-blue-grey, A200);
$app-accent: mat-palette($mat-amber, A400);
$app-warn: mat-palette($mat-pink, A700);

$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@include angular-material-theme($app-theme);
