<div class="mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="shoppingCart.length > 0">
        <tr
          *ngFor="let book of shoppingCart"
          class="book"
          [childBook]="book"
          (bookRemoved)="bookRemovedFromShoppingCart($event)"
        >
          {{
            book.title
          }}
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
